* { margin:0; padding:0; /*box-sizing:border-box; border:1px solid red;*/ }
header{
	padding: 20px;
}
nav {
    text-align: center;
    padding: 20px;
}
section {
	padding:4em 0;
}
h1 {
	font-size: 2.25em;
	text-align: center;
	color: #f1c40f;
	font-family: 'Shadows Into Light', cursive;
}
p {
	font-size: 0.9em;
}
.image{
	width: 100%;
	max-width: 1400px;
}
#slogan {
	font-size: 1.5em;
	font-style: italic;
	text-align: center;
	color: #f1c40f;
	font-family: 'Shadows Into Light', cursive;
}
#about {
	background-size: cover;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	color: #f1c40f;
  padding: 20px;
}
#about li {
	list-style-type: none;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
}
#center {
	font-weight: 300;
	text-align: center;
}
#contact {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	color: #f1c40f;
	background-size: cover;
  padding: 20px;
}
#wrapper {
  background-color: rgb(0,0,0);
  padding: 20px;
}
#two_column {
	padding: 20px;
}
#left {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	padding: 20px;
	float: left;
	width: 30%;
	color: #f1c40f;
}
#right {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	padding: 20px;
	float: right;
	width: 62%;
	color: #f1c40f;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
@media only screen and (max-width: 728px) {
	img {
		width: 230px;
	}
}