* { margin:0; padding:0; /*box-sizing:border-box; border:1px solid red;*/ }
header{
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}
nav {
	background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
    width: 80%;
}
section {
	padding:4em 0;
}
h1 {
	font-size: 2.25em;
	text-align: center;
	color: #f1c40f;
	font-family: 'Shadows Into Light', cursive;
}
p {
	font-size: 0.9em;
}
#splash {
	background-image: url("../images/Coachella.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	height:75vh;
	width: 100%;
}
#slogan {
	font-size: 1.5em;
	font-style: italic;
	text-align: center;
	color: #f1c40f;
	font-family: 'Shadows Into Light', cursive;
}
#about {
	background-size: cover;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	color: #ffffff;
	background-color: #E89C6C;
  border: 1px black solid;
  padding: 20px;
}
#about li {
	list-style-type: none;
}
#center {
	font-weight: 300;
	text-align: center;
}
#contact {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	color: #f1c40f;
	background-size: cover;
	background-color: #FF957E;
  border: 1px black solid;
  padding: 20px;
}
#wrapper {
	background-color: #FFE2B8;
  border: 1px black solid;
  padding: 20px;
}
#two_column {
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
}
#left {
	background-color: violet;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}
#right {
	background-color: pink;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
@media only screen and (max-width: 728px) {
	img {
		width: 230px;
	}
}